body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    border-bottom: 2px solid #ffc107;
}

.card-producto {
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.card-producto:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.btn-outline-light:hover {
    background-color: #ffc107;
    color: #000;
}

.producto-card {
    transition: 0.3s;
    border-radius: 10px;
}

.producto-card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    height: 220px;
    object-fit: contain;
}

.card-title {
    min-height: 50px;
    font-size: 14px;
}

.card-img-top {
    height: 220px;
    object-fit: contain;
}

.card {
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}


.carousel-item img {
    height: 400px;
    object-fit: cover;
}

.carousel {
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}